/* =============================
            header css
================================ */
@media (max-width: 1199px) {
    #header {
      left: -300px;
    }
    #main {
      margin-left: 0;
    }
  }

  /* =================================
               hero css
  ==================================== */
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  
  /* ==============================
        testimonial css
  ================================= */
  @media (max-width: 767px) {
    .testimonials {
      margin: 30px 10px;
    }
  }
  
  /* ============================
          footer css
  =============================== */
  @media (max-width: 1199px) {
    #footer {
      position: static;
      width: auto;
      padding-right: 20px 15px;
    }
  }